{{ if .Site.Data.contact.enable }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section  class="contact-us section-bg ">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2 id="contact-us" class="jump">{{ with .Site.Data.contact.heading }} {{ . }} {{ end }} <span
                            class="color-txt-orange">{{ with .Site.Data.contact.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{"<!-- Contact Details -->" | safeHTML}}
            <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
                {{ with .Site.Data.contact.title }}<h3 >{{ . }}</h3> {{ end }}
                {{ with .Site.Data.contact.content }} <p> {{ . }} </p> {{ end }}
                <div class="contact-details col-md-12">
                    {{ range .Site.Data.contact.contactDetails }}
                    <div class="con-info row clearfix">
                        <div class="pull-left mr-2"><i class="{{ .icon }}"></i></div>
                        <div class="pull-left mr-2"><span class="contact-content-1">{{ .info }}</span></div>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{"<!-- Contact Form -->" | safeHTML}}
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
              <script src='https://www.google.com/recaptcha/api.js'></script>
        <form class="gform pure-form pure-form-stacked" method="POST" 
                    action="https://script.google.com/macros/s/AKfycbz4KrxZX9arGpKsM9oLEPZ0iFIuSxcXoYAWDw6y-A8MHA-Fusqz/exec">
                     <!-- change the form action to your script url -->
                <div style="display:none;" class="thankyou_message">      
                    <h3>Thanks for contacting us! We will get back to you soon!</h3>
                </div> 
                <div class="form-group">
                    <input type="text" placeholder="Name" class="form-control" name="name" id="firstname">
                    <span class="error" id="name" style="display: none;">The Field Required.</span>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control" name="email" id="emailaddress">
                    <span class="error" id="email" style="display: none;">The Field Required.</span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
                </div>
                <div class="form-group">
                    <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                </div>
                <div class="form-group">
                 <div class="g-recaptcha" data-sitekey="6LeEw7AUAAAAAHRsh5BKqe3Y6U4o792Bq06l0dIy"></div>
                 <span class="error" id="captcaha" style="display: none;"> Please verify the Captcha</span> 
                </div>
                <div id="cf-submit">
                     <input type="submit" id="contactsubmit" class="btn btnsubmit" value="Submit">
                </div>
                                     
            </form>
            <script data-cfasync="false" src="/js/form-submission-handler.js"></script>
            </div>
        </div>
    </div>

   
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}