{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" id="home" title="Digital Health Products & Health IT News" alt="Digital Health Products & Health IT News" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
       
       {{with .Site.Params.banner.heading}} <h1>{{ . }}</h1>{{ end }}{{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}<br> {{with .Site.Params.banner.subheading}} <h2 class="subhead">{{ . }}</h2>{{ end }}<br> 
       {{with .Site.Params.banner.contentSubhead}} <p class="heroarea-subhead" >{{ . }}</p> {{ end }}
       {{with .Site.Params.banner.contentDescription}} <p class="heroarea-subhead" style="margin-top:20px;">{{ . }}</p> {{ end }}
        {{with .Site.Params.banner.contentsubarea}} <p style="margin-top:20px;font-weight:700;">{{ . }}</p> {{ end }}
         {{with .Site.Params.banner.contentfinalarea}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <!--<a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>-->
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
